@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Scrollbar CSS ===== */
  /* Firefox */
* {
   scrollbar-width: thin;
   scrollbar-color: #eeebef #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
   display: none;
}

*::-webkit-scrollbar-track {
   background: #ffffff;
   width: 100px;
}

*::-webkit-scrollbar-thumb {
   background-color: #eeebef;
   border-radius: 8px;
   border: 3px none #ffffff;
}

body {
   background-color: '#F5FBFF !important';
}
